.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.synctex.gz
*.out
*.log
*.bbl
*.blg
*.aux.
.DS_Store
.Rapp.history
data-raw/nsclc.rds
data/analysis.rda
.Renviron
.Rprofile
renv/.gitignore
renv/settings.dcf
inst/app/ps/rsconnect
inst/app/ps/analysis.rds
ecmeta.nsclc/vignettes/*.rds
ecmeta.nsclc/vignettes/psweight_out
*_cache/
ecmeta.nsclc/explore/
simulation/output/
